$grey: #888;
$slate: #a8a8a8;

// body {
//   background-image: url('../../media/mask_background.png');
// }

.bg-color-block {
  border: 1px solid $grey;
  display: inline-block;
  height: 32px;
  width: 32px;
}

.item .title {
  margin-left: .5em;
  &.disabled {
    color: $slate;
  }
}
