<div class="item-container">
    <div class="item-container-header">Clock Face</div>
    <div class="item-container-content">
        <% _.forEach(clockFaces, function (clockFace) { %>
            <% if (_.includes(clockFace.platforms, p.platform)) { %>
            <label class="item">
                <img src="<%- clockFace.images[p.platform] %>">
                <span class="title <% if (vc.lt(p.version, clockFace.minVersion)) { %>disabled<% } %>">
                    <%
                    print(clockFace.name);
                    if (vc.lt(p.version, clockFace.minVersion)) {
                        print(" (v" + clockFace.minVersion + " required)");
                    }
                    %>
                </span>
                <input class="item-radio" name="clock-face" type="radio" id="cf-<%- clockFace.id %>"
                    value="<%- clockFace.id %>" <% if (p['clock-face'] === clockFace.id) { %>checked<% } %>
                    <% if (vc.lt(p.version, clockFace.minVersion)) { %>
                        disabled="disabled"
                    <% } %>
                    >
            </label>
            <% } %>
        <% }); %>
    </div>
</div>
<div class="item-container">
    <div class="item-container-header">Background</div>
    <div class="item-container-content">
        <% _.forEach(backgrounds, function (bg) { %>
            <% if (_.includes(bg.platforms, p.platform)) { %>
            <label class="item">
                <% if (_.has(bg, 'images')) { %>
                <img src="<%-bg.images[p.platform] %>">
                <% } else { %>
                <div class="bg-color-block" style="background-color: <%- bg.color %>"></div>
                <% } %>
                <span class="title <% if (vc.lt(p.version, bg.minVersion)) { %>disabled<% } %>">
                    <%
                    print(bg.name);
                    if (vc.lt(p.version, bg.minVersion)) {
                        print(" (v" + bg.minVersion + " required)");
                    }
                    %>
                </span>
                <input class="item-radio" name="background" type="radio" id="bg-<%- bg.id %>"
                    value="<%- bg.id %>" <% if (p.background === bg.id) { %>checked<% } %>
                    <% if (vc.lt(p.version, bg.minVersion)) { %>
                        disabled="disabled"
                    <% } %>
                    >
            </label>
            <% } %>
        <% }); %>
    </div>
</div>
<% if (vc.gt(p.version, "2.0")) { %>
<div class="item-container">
    <div class="item-container-header">Clock Roation</div>
    <div class="item-container-content">
        <% _.forEach(rotations, function (rot) { %>
            <label class="item">
                <i class="fa fa-2x <%- rot.icon %>"></i>
                <span class="title">
                    <%- rot.name %>
                </span>
                <input class="item-radio" name="rotation" type="radio" id="rot-<%- rot.id %>"
                    value="<%- rot.id %>" <% if (p.rotation === rot.id) { %>checked<% } %>>
            </label>
        <% }); %>
    </div>
</div>
<% } %>
<% if (vc.gt(p.version, "2.3")) { %>
<div class="item-container">
    <div class="item-container-header">Miscellaneous</div>
    <div class="item-container-content">
        <label class="item">
            Watch Meta (on shake)
            <input type="checkbox" class="item-toggle" name="meta" id="meta" value="1" <% if (p.meta === "True") { print("checked") } %>>
        </label>
    </div>
</div>
<% } %>
<div class="item-container">
    <div class="button-container">
        <input class="item-button" type="submit" value="SAVE SETTINGS">
    </div>
</div>
<div class="item-container">
    <div class="item-container-footer">
        Termina Clock v<%- p.version %><br>
        Problems, comments, suggestions? <a href="mailto:gumbyscout+termina.clock@gmail.com">Email me.</a><br>
        <a href="https://github.com/gumbyscout/Termina-Clock" class="">
            <i class="fa fa-fw fa-github" ></i> <span class="hide-on-med-and-down">Github</span>
        </a>
        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=gumbyscout%40gmail%2ecom&lc=US&item_name=Mitchel%20Spears&item_number=Termina%20Clock&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donate_LG%2egif%3aNonHosted"
            class="">
            <i class="fa fa-fw fa-paypal"></i> <span class="hide-on-med-and-down">Donate</span>
        </a>
    </div>
</div>
